@use '../abstracts/variables';

.movies__main {
  background-image: url('/trending-bg.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin: 0 auto;
  max-width: 1380px;
  position: relative;
  top: 50px;
}

.movies__wrapper {
  position: relative;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  overflow: hidden;
  bottom: 26px;
}

.movies__wrapper-block {
  position: relative;
  margin: 25px auto 8px auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-bottom: 30px;
}

.movies__wrapper::after {
  content: '';
  width: 60px;
  height: 90%;
  position: absolute;
  top: 25px;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  will-change: opacity;
  pointer-events: none;
}

.movies__wrapper-cart {
  position: relative;
  flex: 0 0 auto;
  width: 9rem;
  scroll-snap-align: start;
}

.image {
  width: 100%;
  border-radius: 10px;
  height: auto;
  &:hover {
    cursor: pointer;
  }
}

.image {
  @apply w-full h-full object-cover transition-opacity duration-700;
}

.movies__wrapper-block::-webkit-scrollbar {
  height: 13px;
}

.movies__wrapper-block::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  border: 2px solid #f3efef;
}

.movies__wrapper-block::-webkit-scrollbar-button {
  display: none;
}

.trending {
  margin-right: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}

.switch {
  position: relative;
  display: flex;
  background: none!important;
  border: 1px solid blueviolet;
  color: #fff;
  border-radius: 30px;
  width: fit-content;
  margin: 5px 0;

  button {
    position: relative;
    width: 100px;
    padding: 0px 15px;
    border-radius: 25px;
    background: none!important;
    color: #111;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;

    &.active {
      color: #000;
    }
  }

  .back {
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(to right, #d478d8, #752576);;
    width: 100px;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;

    &.today {
      transform: translateX(0);
    }

    &.this-week {
      transform: translateX(100px);
    }
  }
}

@media (max-width: 992px) {
  .movies__wrapper-cart {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .movies__wrapper-cart {
    width: 130px;
  }
}

@media (max-width: 576px) {
  .movies__wrapper-cart {
    width: 110px;
    gap: 5px;
  }
}
